body {
  text-align: center;
  height: 800px;
}
.building {
  background-image: url('C:/Users/Steve/webs/broadway/resources/images/the-flatiron-building.png');
  height: 300px;
  width: auto;
  background-color: rgba(213,213,213,0.25);
}
h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.bdwy-nav p a {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
.subs {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
.process {
  font-size: 32px;
}
.sub-subs {
  font-family: Helvetica;
  font-size: 14px;
}
#ny {
  color: white;
  background-image: url('C:/Users/Steve/webs/broadway/resources/images/the-flatiron-building.png');
}
.footer {
  background-color: dimgray;
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  text-align: left;
}
.footer-nav {
  background-color: dimgray;
  color: white;
  font-size: 18px;
}
