body {
  text-align: center;
  height: 800px;
}
.building {
/*  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png');  */
  background-image: url('./resources/images/the-flatiron-building.png');
  height: 300px;
  width: auto;
  background-color: rgba(213,213,213,0.25);
}
h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: green;
}
